* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #111;
	color: #1d1d1d;
}

/*Contenedor del NAV*/

.nav {
	position: fixed;
	top: 0;
	height: 13vh;
	transition-timing-function: ease-in;
	transition: all 1s;
}

nav>ul {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding: 0px;

}

nav ul li a {
	border: none;
}

/* nav scroll */
.nav_blank {
	height: 12vh;
	width: 100vw;
	background-color: #111;
}

/* elementos del nav */
.nav_logo {
	width: 7rem;
	margin: 1rem;
}

.nav__avatar {
	color: white;
	font-size: 2rem;
	width: 1rem;
	text-shadow: 0px 0px 10px #111;
	padding-right: 4rem;
	z-index: 1;

}

.nav__avatar:hover {
	color: red;
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.628);
}

.cont-user {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

/* Desplegable user */

.links {
	display: flex;
	flex-direction: column;
	background-color: rgb(29, 29, 29);
	position: absolute;
	top: 0rem;
	right: 20px;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	transition: all 0.5s ease;
	padding: 0px;
	border-radius: 0.4rem;
}

.triangulo {
	width: 0px;
	height: 0px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid rgb(29, 29, 29);
	position: absolute;
	right: 20px;
	top: -12px;
}

.links li {
	display: flex;
	flex-direction: row-reverse;
	list-style: none;
}

.selected {
	background-color: pink;
}

.links li:last-child {
	border-radius: 0rem 0rem 0.4rem 0.4rem;
}

.links li:nth-child(2) {
	border-radius: 0.4rem 0.4rem 0rem 0rem;
}

.cont-user:hover .links {
	visibility: visible;
	opacity: 1;
	top: 3.5rem;

}

hr {
	margin: 1px !important;
}


.links li a {
	text-decoration: none;
	color: white;
	padding: 0.5rem;

}

.links li:hover a {
	color: red;
}

.links li:hover {
	background-color: #111;
}

.selecc {
	color: red !important;
	background-color: #111;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
	cursor: pointer;

}

h3 {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 0.5rem;
	margin-top: 0;
}

h4 {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 0.5rem;
	margin-top: 0;
}

h6 {
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 0.5rem;
	margin-top: 0;
}

/* Position inherit de componentes bootstrap para que no se superpongan al nav */
.card {
	position: inherit !important;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.css-button {
	color: white;
	font-weight: bold;
	margin: 0rem 3px 3px 0rem;
}

.css-button:active {
	margin: 3px 0px 0px 3px;
	box-shadow: none;
}

.footer-card {
	justify-content: space-between !important;
}

.close-button {
	padding: 0.3rem 1rem;
	box-shadow: 3px 3px rgb(45, 45, 45);
	border-radius: 0.5rem;
}

.css-button-3d--green {
	position: inherit !important;
	background-color: rgb(29, 234, 142);
	border: 1px solid rgb(8, 194, 138);
	padding: 0.3rem 1rem;
	box-shadow: 2px 2px rgb(156, 255, 210);
	border-radius: 0.5rem;
}

.css-button-3d--yellow {
	background-color: rgb(255, 217, 0);
	border: 1px solid rgb(255, 187, 0);
	padding: 0.3rem 1rem;
	box-shadow: 2px 2px rgb(255, 178, 11);
	border-radius: 0.5rem;
}

.css-button-3d--green:hover {
	background-color: rgb(75, 255, 174);
}

.css-button-3d--yellow:hover {
	background-color: rgb(255, 227, 102);
}

/* Paginación prev - next */

.paginacion {
	bottom: 0;
	background: #111;
	width: 102vw !important;
	max-width: 110% !important;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
	margin-bottom: 1rem;
	transition-timing-function: ease-in;
	transition: all 1s;
}

.paginacion_blank {
	bottom: 12vh;
	background: #111;
	width: 102vw !important;
	max-width: 110% !important;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	border: none;
	height: 3rem;
	width: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	background: #ffffff2c;
	color: #fff;
	font-size: 2rem;
	border-radius: 100px;
	transition: 0.3s ease all;
	margin: 0px 1rem;
}

.paginacion button:hover {
	background: #137c32;
}

@media (max-width: 780px) {
	.contenedor {
		width: 90%;
		max-width: 1000px;
		margin: 40px auto 100px auto;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;


	}
}